// Variables

$brand-primary: #61A0AF;
$brand-gray: #a3a3a3;
$brand-highlight: #D84727;
$brand-title: #053C5E;
$offwhite: #F7F7F7;


$gray-dark: #404040;
$gray-light: #bfbfbf;

$white-faded: rgba(255, 255, 255, 0.8);
